header {
    text-align: center;
    margin-left: 25%;
    background-color: rebeccapurple;
    color: yellow;
    max-width: 50%;
    border-radius: 15px;
    padding: 10px;
}

body {
    background-color: thistle;
    
}

footer {
    background-color: thistle;
}

img {
    width: 75px;
    border-radius: 10px;
}

label {
    display: inline-block;
    margin: 5%;
    
}

h3 {
    text-align: center;
}

h1 {
    word-wrap: break-word;
    position: relative;
}

p {
    text-align: center;
}

#game {
    max-width: 50%;
    margin-left: 25%;
    background-color: rebeccapurple;
    color: white;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
}

ol {
    background-color: rebeccapurple;
    color: white;
    font-weight: bolder;
    max-width: 30%;
    margin-left: 35%;
    padding: 30px;
    border-radius: 15px;
    font-size: 20px;
    line-height: 35px;
}

#results {
    max-width: 30%;
    margin-left: 35%;
    background-color: rebeccapurple;
    color: white;
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    align-self: center;
}

/*#playerWeapon {
    text-align: center;
    
}

#computerWeapon {
    text-align: center;
}
*/
#winLose {
    font-size: 22px;
    color: yellow;
}

#computerImg {
    display: hidden;
    max-width: 10%;
    margin-left: 48%;
    
}

#playerchose {
    margin: 5px;
      
}

#computerchose {
    margin: 5px;
    
}

#playerImg {
    display: hidden;
    max-width: 10%;
    margin-left: 48%;
    
}

button {
    border-radius: 20px;
    padding: 15px;
    margin: 5px;
    
}

button:hover {
    border: solid 3px yellow;
    box-shadow: 5px 10px;
}

img:hover {
    box-shadow: 5px 10px black;
    border-radius: 15px;
}