* {
    box-sizing: border-box;
}

@media (min-width: 650px) {
    img {
        width: 50px;
    }
    label {
        margin: auto;
    }
    .radio-buttons {
        overflow: auto;
    }
}

header {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rebeccapurple;
    color: yellow;
    max-width: 85%;
    border-radius: 15px;
    padding: 10px;
}

body {
    background-color: thistle;
    width: 100%;
}

img {
    width: 100px;
    border-radius: 10px;
}

label {
    margin-left: 15px;
    margin-right: 15px;
    border: 3px solid yellow;
    border-radius: 15px;
    padding: 5px;
}

label:hover {
    border: 3px solid red;
}

.selected {
    border: solid 10px rgb(255, 145, 0);
    border-radius: 15px;
}

h3 {
    text-align: center;
    color: yellow;
    font-size: 20px;
}

button {
    margin: 5px 15px;
    border-radius: 15px;
    border-style: inset;
}

button:hover {
    box-shadow: 5px 7px;
    transform: scale(1.2);
}

footer {
    background-color: thistle;
    text-align: center;
}

#instructions {
    background-color: rebeccapurple;
    color: white;
    font-weight: bolder;
    max-width: 80%;
    margin: 1.5em auto;
    padding: 5px;
    border-radius: 15px;
}

#game {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background-color: rebeccapurple;
    color: white;
    border-radius: 15px;
    padding: 10px;
    align-items: center;
}

.radio-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 15px;
    max-width: 100%;
}

#buttons {
    max-width: 100%;
}

#results {
    margin-left: auto;
    margin-right: auto;
    clear: both;
    background-color: rebeccapurple;
    color: white;
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
}

.hidden {
    display: none;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 50%;
    float: left;
}

.vs {
    float: left;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

/*#playerWeapon {
    text-align: center;
    
}

#computerWeapon {
    text-align: center;
}
*/
#winLose {
    font-size: 22px;
    color: yellow;
}

#computerImg {
    display: hidden;
}

#playerImg {
    display: hidden;
}